.buttonWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.mobileNavBtn {
  border-radius: 30px;
  padding: 12px 21px;
  width: 115px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
}
.mobileNavBtnExp {
  background: #0c0d0d;
  color: #fafafa;
}

.mobileNavBtnInc {
  border: 1px solid rgba(12, 13, 13, 0.4);
  color: #0c0d0d;
}
