.backdrop {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.mobileMenu {
  position: absolute;
  z-index: 2;
  padding: 18px 20px;
  top: 0;
  background-color: var(--button-color);
  height: 100vh;
  width: 100vw;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 31px;
  background-color: transparent;
}
.closeBtnIcon {
  width: 20px;
  height: 20px;
  fill: var(--background-color);
}
.noScroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .mobileMenu {
    width: 385px;
    height: 100vh;
    right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .mobileMenu {
    display: none;
  }
  .backdrop {
    display: none;
  }
}
