.mobileMenu {
  position: absolute;
  z-index: 1;
  padding: 18px 20px;
  /* left: 0; */
  top: 0;
  background-color: var(--button-color);
  height: 812px;
  width: 100%;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 31px;
  background-color: transparent;
}
.closeBtnIcon {
  width: 20px;
  height: 20px;
  fill: var(--background-color);
}

@media screen and (min-width: 768px) {
  .mobileMenu {
    width: 385px;
    height: 1024px;
    right: 0;
  }
}
