.mainBox {
  width: 315px;
  height: 400px;
  border: 1px solid var(--regular-text-color01);
  border-radius: 30px;
  background-color: var(--box-background-color);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 375px) {
  .mainBox {
    width: 335px;
    height: 400px;
    border: 1px solid var(--regular-text-color01);
    border-radius: 30px;
    background-color: var(--box-background-color);
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .mainBox {
    width: 500px;
    height: 461px;
  }
}
.box {
  flex-grow: 1;
}

.mainTitle {
  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-large); /* 24px */
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-left: var(--font-size-medium); /* 20px */
  margin-bottom: var(--font-size-medium); /* 20px */
}

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 28px;
    margin-left: 40px;
  }
}
.title {
  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-mini); /* 12px */
  color: rgba(250, 250, 250, 0.4);
  margin-left: 22px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .title {
    margin-left: 40px;
  }
}

.listWrapper {
  margin-bottom: 30px;
  overflow: auto;
  max-height: 160px;

  /* position: relative; */
}

@media screen and (min-width: 768px) {
  .listWrapper {
    margin-bottom: 28px;
    max-height: 193px;
  }
}

.noobjects {
  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 400;

  line-height: 1.28571;
  color: var(--regular-text-color);
  display: flex;
  justify-content: center;

  padding: 60px 0;
}
.noobjectsP {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .noobjects {
    padding: 80px 0;
  }
  .noobjectsP {
    font-size: 18px;
  }
}

.listItem {
  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 0;
}

.listItem:hover,
.listItem:focus {
  padding: 12px 20px;
  background-color: var(--list-item-hover);
}

@media screen and (min-width: 768px) {
  .listItem {
    padding: 12px 40px;
    margin-bottom: 10px;
  }

  .listItem:hover,
  .listItem:focus {
    padding: 12px 40px;
  }
}

.listSVG {
  display: flex;
  gap: 14px;
}

.buttonSVG {
  background-color: transparent;
  width: 16px;
  height: 16px;
}

.icon {
  fill: none;
  stroke: none;
}

.listItem:hover .icon,
.listItem:focus .icon {
  stroke: var(--button-color);
}

/* ----------------  Button --------------  */

.labelCategory {
  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-small); /* 14px */
  letter-spacing: -0.02em;
  color: var(--button-color);
}

@media screen and (min-width: 768px) {
  .labelCategory {
    font-size: var(--font-size-smaller); /* 16px */
  }
}

input::placeholder {
  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-small); /* 14px */
  line-height: 1.28571;
  color: var(--regular-text-color);
}

@media screen and (min-width: 768px) {
  input::placeholder {
    line-height: 1.5;
    font-size: var(--font-size-smaller); /* 16px */
  }
}

.inputCategory {
  border: 1px solid var(--border-field-color);
  border-radius: 12px;
  padding: 12px 140px 12px 14px;
  width: 275px;
  height: 42px;
  margin-top: 8px;
  background-color: var(--box-background-color);
  outline: none;
  color: var(--main-text-color);
  font-size: var(--font-size-small); /* 14px */
}

@media screen and (min-width: 375px) {
  .inputCategory {
    border: 1px solid var(--border-field-color);
    border-radius: 12px;
    padding: 12px 160px 12px 14px;
    width: 295px;
    height: 42px;
    margin-top: 8px;
    background-color: var(--box-background-color);
    outline: none;
    color: var(--main-text-color);
    font-size: var(--font-size-smaller); /* 16px */
  }
}

@media screen and (min-width: 768px) {
  .inputCategory {
    padding: 12px 275px 12px 18px;
    width: 420px;
    height: 48px;
  }
}

.inputCategory:focus,
.inputCategory:hover {
  border-color: var(--button-color);
  outline-color: var(--button-color);
}

.subbmitButton {
  border-radius: 12px;
  padding: 14px 44px;
  width: 118px;
  height: 42px;
  background-color: var(--button-color);

  font-family: 'SuisseIntl-Regular', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-small); /* 14px */
  letter-spacing: -0.02em;
  color: var(--background-color);

  position: absolute;
  top: 8px;
  right: 20px;
}

.subbmitButton:not([disabled]):focus,
.subbmitButton:not([disabled]):hover {
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .subbmitButton {
    height: 47px;
    font-size: var(--font-size-smaller);
    top: 8px;
    right: 40px;
  }
}

.formStyle {
  margin-left: 19px;
}

.inputBox {
  position: relative;
}

@media screen and (min-width: 768px) {
  .formStyle {
    margin-left: 39px;
  }
}
