.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 66px;
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 40px 44px;
    max-height: 600px;
  }
}

.title {
  font-size: 32px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 38px;
    margin-bottom: 15px;
  }
}
.descr {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--regular-text-color);
}
@media only screen and (min-width: 768px) {
  .descr {
    width: 500px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .descr {
    width: 625px;
  }
}
@media only screen and (min-width: 1440px) {
  .titleWrapper {
    order: 2;
  }
  .total {
    height: 121px;
    order: 2;
  }
  .form {
    order: 4;
  }
  .chart {
    order: 3;
    width: 630px;
  }
}
