.menu {
  box-sizing: border-box;
  position: absolute;
  width: 98px;
  border: 1px solid var(--regular-text-color01);
  border-radius: 15px;

  top: 46px;
  left: 0px;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
}
.listItem {
  padding: 5px 14px;
  border-radius: 15px;
}
.listItem:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.menuItem {
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: var(--regular-text-color);
}
