.title {
  font-weight: 400;
  font-size: 56px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--regular-text-color);
}
