.userBarBtnWrapper {
  position: relative;
}
.userBarBtnTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 6px 16px;
  width: 194px;
  height: 46px;
  background: #171719;
  margin-bottom: 8px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.userLogoWrapper {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.userLogo {
  fill: #0ef387;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.userName {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}
.chevrone {
  fill: none;
  stroke: #0ef387;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 20px;
  height: 20px;
}
