.containerTable {
  overflow-x: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.listTable {
  width: 575px;
}

.thead {
  height: 59px;
  background: rgba(0, 0, 0, 0.2);
}

.thead .th {
  font-weight: 400;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
}

.td {
  letter-spacing: 1px;
  padding-top: 20px;
}
.th {
  padding: 20px 0;
}

.tr {
  width: 100%;
  display: inline-flex;
}

.tbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #fafafa;
  text-align: left;
  background: #171719;
  height: 313px;
  overflow: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.th:nth-child(1) {
  padding-left: 20px;
  width: 18%;
}
.th:nth-child(2) {
  width: 16%;
  padding-left: 5px;
}
.th:nth-child(3) {
  width: 15%;
  padding-left: 2px;
}
.th:nth-child(4) {
  width: 10%;
  padding-left: 0;
}
.th:nth-child(5) {
  width: 20%;
  padding-left: 13px;
}
.th:nth-child(6) {
  width: 19%;
  padding-left: 3px;
}

@media only screen and (min-width: 768px) {
  .containerTable {
    overflow-x: hidden;
  }

  .listTable {
    width: 100%;
  }
  .thead .th {
    font-size: 16px;

    text-align: left;
  }

  .tbody {
    height: 387px;
    font-size: 20px;
    gap: 31px;
  }

  .th:nth-child(1) {
    padding-left: 32px;
    width: 18%;
  }
  .th:nth-child(2) {
    width: 16%;
    padding-left: 5px;
  }
  .th:nth-child(3) {
    width: 15%;
    padding-left: 2px;
  }
  .th:nth-child(4) {
    width: 10%;
    padding-left: 0;
  }
  .th:nth-child(5) {
    width: 20%;
    padding-left: 13px;
  }
  .th:nth-child(6) {
    width: 19%;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .tbody {
    height: 287px;
    gap: 20px;
  }
  .td:last-child {
    padding-right: 68px;
  }
  .td:first-child {
    padding-left: 40px;
  }
  /* .th:first-child {
    padding-left: 0;
    width: 16%;
  } */
  .tr {
    display: flex;
    gap: 0;
  }
  .thead {
    height: 59px;
    background: rgba(0, 0, 0, 0.2);
  }
  .th:nth-child(1) {
    padding-left: 40px;
    width: 15%;
  }
  .th:nth-child(2) {
    width: 15%;
    padding-left: 0;
  }
  .th:nth-child(3) {
    width: 15%;
    padding-left: 0;
  }
  .th:nth-child(4) {
    width: 15%;
    padding-left: 1px;
  }
  .th:nth-child(5) {
    width: 15%;
    padding-left: 2px;
  }
  .th:nth-child(6) {
    width: 26.5%;
    padding-left: 11px;
  }
}

.thead {
  background-color: #121214;
}
