table {
  height: 350px;
}
.listTable {
  border-collapse: collapse;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: hidden;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 30px;
}
.listTable tr:last-child td:last-child {
  border-bottom-right-radius: 30px;
  padding-bottom: 22px;
}
.listTable tr:last-child td:nth-child(5) {
  padding-bottom: 22px;
}
.listTable tr:last-child td:nth-child(4) {
  padding-bottom: 22px;
}
.listTable tr:last-child td:nth-child(3) {
  padding-bottom: 22px;
}
.listTable tr:last-child td:nth-child(2) {
  padding-bottom: 22px;
}
.listTable tr:last-child td:nth-child(1) {
  padding-bottom: 22px;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 17%;
}

thead th:nth-child(3) {
  width: 22%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 13%;
}

thead th:nth-child(6) {
  width: 33%;
}

.thead {
  height: 59px;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 40px 0 40px;
}

.thead .th,
.tfoot .th {
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
}

.td:last-child {
  padding-right: 68px;
}
.td:first-child {
  padding-left: 40px;
}
.td {
  letter-spacing: 1px;
  padding-top: 20px;
}
.th {
  padding: 20px 0;
  width: 15%;
}

.tr {
  width: 100%;
  display: inline-flex;
}

.tbody {
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fafafa;
  text-align: left;
  background: #171719;
  height: 350px;
  overflow-x: hidden;
}
