table {
  height: 350px;
}
.listTable {
  border-collapse: collapse;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: hidden;
}

/* .thead {
  height: 59px;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 40px 0 40px;
} */

.thead .th {
  font-weight: 400;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
}

.td:last-child {
  padding-right: 68px;
}
.td:first-child {
  padding-left: 40px;
}
.td {
  letter-spacing: 1px;
  padding-top: 20px;
}
.th {
  padding: 20px 0;
  width: 15%;
}

.tr {
  width: 100%;
  display: inline-flex;
}

.tbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #fafafa;
  text-align: left;
  background: #171719;
  height: 350px;
  overflow: auto;
}

@media only screen and (min-width: 768px) {
  .thead .th {
    font-size: 16px;

    text-align: left;
  }
  .tbody {
    height: 375px;
    font-size: 20px;
  }
  .thead {
    height: 59px;
    background: rgba(0, 0, 0, 0.2);
  }

  .th:first-child {
    padding-left: 40px;
    width: 16%;
  }
  .th:nth-child(2) {
    width: 11%;
  }
  .th:nth-child(3) {
    width: 11%;
  }
  .th:nth-child(4) {
    width: 12%;
  }
  .th:nth-child(5) {
    width: 16%;
  }

  .tr {
    display: flex;
    gap: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .tbody {
    height: 288px;
  }
  .th:first-child {
    padding-left: 0;
    width: 16%;
  }
  .tr {
    display: flex;
    gap: 0;
  }
  .thead {
    height: 59px;
    background: rgba(0, 0, 0, 0.2);
    padding: 0 40px 0 40px;
  }
  .th:first-child {
    padding-left: 0px;
    width: 15%;
  }
  .th:nth-child(2) {
    width: 15%;
  }
  .th:nth-child(3) {
    width: 15%;
  }
  .th:nth-child(4) {
    width: 15%;
  }
  .th:nth-child(5) {
    width: 15%;
  }
}

/* ================================================================== */

/* .thead {
  height: 59px;
  background: rgba(0, 0, 0, 0.2);
}

.th:first-child {
  padding-left: 40px;
  width: 16%;
}
.th:nth-child(2) {
  width: 11%;
}
.th:nth-child(3) {
  width: 11%;
}
.th:nth-child(4) {
  width: 12%;
}
.th:nth-child(5) {
  width: 16%;
}

.tr {
  display: flex;
  gap: 20px;
} */
