.logoWrapper {
  display: flex;
  gap: 8px;
  height: 17px;
  align-items: center;
}
.logoIconWrapper {
  width: 27px;
  height: 17px;
}
.logo {
  width: 100%;
  height: 100%;
}
.logoText {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fafafa;
  font-family: 'SuisseIntl-Bold', sans-serif;
}

@media screen and (min-width: 1440px) {
  .logoText {
    font-size: 20px;
  }
}
